[submodule "awesome-nano-banana-HildaM"]
	path = awesome-nano-banana-HildaM
	url = https://github.com/HildaM/awesome-nano-banana.git
[submodule "awesome-nano-banana-JimmyLv"]
	path = awesome-nano-banana-JimmyLv
	url = https://github.com/JimmyLv/awesome-nano-banana.git
[submodule "awesome-nano-banana-pro-muset-ai"]
	path = awesome-nano-banana-pro-muset-ai
	url = https://github.com/muset-ai/awesome-nano-banana-pro.git
[submodule "Awesome-Nano-Banana-images-PicoTrex"]
	path = Awesome-Nano-Banana-images-PicoTrex
	url = https://github.com/PicoTrex/Awesome-Nano-Banana-images.git
[submodule "awesome-nano-banana-SamurAIGPT"]
	path = awesome-nano-banana-SamurAIGPT
	url = https://github.com/SamurAIGPT/awesome-nano-banana.git
[submodule "awesome-nano-banana-Super-Maker-AI"]
	path = awesome-nano-banana-Super-Maker-AI
	url = https://github.com/Super-Maker-AI/awesome-nano-banana.git
[submodule "awesome-nano-banana-pro-prompts-YouMind-OpenLab"]
	path = awesome-nano-banana-pro-prompts-YouMind-OpenLab
	url = https://github.com/YouMind-OpenLab/awesome-nano-banana-pro-prompts.git
[submodule "awesome-nanobanana-pro-ZeroLu"]
	path = awesome-nanobanana-pro-ZeroLu
	url = https://github.com/ZeroLu/awesome-nanobanana-pro.git
[submodule "awesome-nano-banana-prompts-cuigh"]
	path = awesome-nano-banana-prompts-cuigh
	url = https://github.com/cuigh/awesome-nano-banana-prompts.git
[submodule "awesome-aiart-pics-prompts-Jermic"]
	path = awesome-aiart-pics-prompts-Jermic
	url = https://github.com/Jermic/awesome-aiart-pics-prompts.git
[submodule "awesome-nanobanana-images-mickorix"]
	path = awesome-nanobanana-images-mickorix
	url = https://github.com/mickorix/awesome-nanobanana-images.git
[submodule "awesome-nanobanana-pro-murattasdemir"]
	path = awesome-nanobanana-pro-murattasdemir
	url = https://github.com/murattasdemir/awesome-nanobanana-pro.git
